<!DOCTYPE html>

<html>
    <head>
        <title>Angular Creative Assignment</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="product.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>

    <body>
        <div ng-app="product" ng-controller="mainCtrl">
            <div class="product-image">
                <img ng-src="{{ image() }}" style="width: 1000px; height: 200px" />
            </div>
            <!--style="width: 1000px; height: 300px;-->
            <!--<div class="product-details">-->
            <!--    <p ng-mouseover = "{{ details() }}">here</p>-->
            <!--</div>-->

            <div class="product-info">
                <h1>{{ product }}</h1>
                <p ng-if="inStock()"><b>In Stock</b></p>
                <p ng-if="!inStock()"><b>Out of Stock!</b></p>

                <div ng-repeat="variant in variants">
                    <h2>{{ variant.brand }}</h2>
                    <p><b>{{ details() }}</b></p>
                </div>

                <button ng-click="addToCart()">Add to cart</button>

                <p>Cart ({{ cart }})</p>
            </div>
        </div>
    </body>
</html>